.home-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.map-container {
  height: 50vh;
  position: relative;
  border-radius: 0.3rem;
  /* box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12); */
}

.rcw-widget-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
}

.rcw-header {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.rcw-sender {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.rcw-conversation-container > .rcw-header {
  background-color: #12343b;
}

.rcw-response .rcw-message-text {
  background-color: #e1b382;
}

.rcw-client .rcw-message-text {
  background-color: #2d545e;
  color: #fff;
}

.rcw-conversation-container,
.rcw-conversation-container.active {
  height: 100%;
  box-shadow: none !important;
}

.rcw-launcher {
  /* background-color: #e1b382; */
  background-color: #2d545e;
}

.g-map-style {
  position: static !important;
}

.crt-rides {
  width: 40%;
  color: #000 !important;
  background-color: #e1b382 !important;
  border-color: #e1b382 !important;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12) !important;

  transition: ease-in 150ms !important;
}

.crt-rides:hover {
  transition: ease-out 150ms;
  background-color: #c39c71 !important;
  border-color: #c39c71 !important;
  transform: scale(1.03);
}

@media screen and (max-width: 1000px) {
  .chat-container {
    padding: 0 !important;
  }

  .rcw-conversation-container .rcw-close-button {
    display: none;
  }
}
