.globalSettings {
  background-color: #f0f8ff;
  /* background-color: #2d545e; */
  font-family: Georgia, serif;
}

/* Main content area */
.mainContentArea {
  min-height: 82vh;
  /* background-color: #2d545e; */
  background-color: #f0f8ff;
  color: #12343b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
