.globalSettings {
  background-color: #fff;
  /* background-color: #2d545e; */
  /* font-family: Georgia, serif; */
}

/* Main content area */
.mainContentArea {
  /* background-color: #2d545e; */
  background-color: #fff;
  color: #12343b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.spinner-border {
  width: 10rem !important;
  height: 10rem !important;
  border: 0.25em solid #2d545e !important;
  border-right-color: transparent !important;
}

@media screen and (max-width: 1000px) {
  .mainContentArea {
    margin: 0;
  }
}
